nav{
    height:80px;
    width:100%;
    display:flex;
}

.nav-logo{
    height:100%;
    width:20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-menu{
    height:100%;
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo>h1{
    font-size: small;
}
.nav-logo>h6{
    font-size: x-small;
}
.nav-menu a{
    text-decoration: none;
    color: black;
}

.about{
    
}

.WhatIDo{
    height:300px;
    width:100%;
    margin:10px 0;
    border:1px solid white;
    background-color:black;
}

.My-Project{
        height:300px;
    width:100%;
    margin:10px 0;
    border:1px solid white;
    background-color:blue;
}

.Education{
    height:80vh;
    width:100%;
    margin:10px 0;
    border:1px solid white;
    background-color:green;
}

.A-C{
    height:40vh;
    width:100%;
    margin:10px 0;
    border:1px solid white;
    background-color:yellow;
}

footer{
    height:100ph;
    width:100%;
    margin:10px 0;
    border:1px solid white;
    background-color:violet;
}